<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/home_page.css">
</head>
<body>
    <div class="header">
        <img style="padding-left: 90px;" src="/static/avatar.png">
        <div class="icons">
            <img src="/static/home.png">
            <a href="{% url 'create_post' %}">
                <img src="/static/add_post.png" alt="Add Post">
            </a>
            <img src="/static/notifications.png">
            <img src="/static/inbox.png">
        </div>
    </div>
    <div class="post-container">
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <img  src="/static/avatar.png">
                <div>
                    <p class="username">{{ post.author.display_name }}</p>
                    <p class="date-posted">{{ post.published|date:"F d, Y" }}</p>
                </div>
                <a href="#" class="follow-btn">Follow</a>
            </div>
            <div class="post-content">
                <h2 class="title">{{ post.title }}</h2>
                <p class="description">{{ post.description }}</p>
                <hr class="description">
                <!-- <div class="image-placeholder">
                    <img src="{% if post.content_type == 'image' %}{{ post.content }}{% endif %}" alt="Post Image">
                </div> -->
                {% if post.content_type == "image/png;base64" or post.content_type == "image/jpeg;base64" %}
                <img src="{{ post.content }}" alt="Uploaded Image" style="max-width: 100%; height: auto;">
                {% else %}
                <p class="content">{{post.content}}</p>
                {% endif %}
            </div>
            <div class="post-footer">
                <div class="interactions">
                    <img class="icon" src="/static/like.png">
                    <span class="interactions-text">Like</span>
                    <img class="icon" src="/static/comment.png">
                    <span class="interactions-text">Comment</span>
                    <img class="icon" src="/static/share.png">
                    <span class="interactions-text">Share</span>
                </div>
                <div class="stats">
                    <span>300 Likes</span>
                    <a href="#">View all 26 comments</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
