{% extends 'author/author_base.html' %}

{% block content %}
<div class="posts-container">
    {% if posts %}
        {% for post in posts %}
            <div class="post-box">
                <!-- 1st row: Profile image, name, and date posted -->
                <div class="post-header">
                    <div class="profile-info">
                        <img src="{{ author.profile_image|default_if_none:'default_profile.png' }}" alt="Picture" class="profile-pic-small">
                        <div class="author-name-date">
                            <h4>{{ author.display_name }}</h4>
                            <p>{{ post.published|date:"F j, Y, g:i a" }}</p>
                        </div>
                    </div>
                    <div class="edit-btn">
                        <a href="{% url 'edit_post' %}" class="edit-button">Edit</a>
                    </div>
                </div>
                

                <!-- 2nd row: Image (if exists) -->
                {% if post.content_type == "image/png;base64" or post.content_type == "image/jpeg;base64" %}
                    <div class="post-image">
                        <img src="data:{{ post.content_type }};base64,{{ post.content }}" alt="Post Image">
                    </div>
                {% endif %}

                <!-- 3rd row: Content of the post -->
                <div class="post-content">
                    {% if post.content_type == "text/markdown" or post.content_type == "text/plain" %}
                        <p>{{ post.content }}</p>
                    {% endif %}
                </div>

                <!-- 4th row: Like, comment, share buttons -->
                <div class="post-actions">
                    <button>Like</button>
                    <button>Comment</button>
                    <button>Share</button>
                </div>

                <!-- 5th row: Likes count and view comments -->
                <div class="post-footer">
                    <p>likes</p>
                    <a href="#">View all comments</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ author.display_name }} hasn't posted anything yet.</p>
    {% endif %}
</div>
{% endblock %}
