{% extends 'author/author_base.html' %}

{% block content %}
<div class="follow-info">
    <!-- Link to Followers page with count -->
    <a href="{% url 'followers_list' author.id %}" class="followers">
        <strong>{{ followers_count }}</strong> Followers
    </a>

    <span> | </span>

    <!-- Current page (Following) with count -->
    <a href="{% url 'following_list' author.id %}" class="following active">
        <strong>{{ following_count }}</strong> Following
    </a>
</div>

<div class="following-list">
    {% for item in following %}
        <div class="following-box">
            <div class="following-info">
                <a href="{% url 'author_profile' item.following.id %}">
                    {% if item.following.profileImage %}
                        <img class="profile-image" src="data:image/png;base64,{{ item.following.profileImage }}" alt="{{ item.follower.displayName }}'s profile">
                    {% else %}
                        <img src="/static/images/default-profile.png" alt="Default profile" class="profile-image">
                    {% endif %}
                    <span>{{ item.following.displayName }}</span>
                </a>
                {% if item.is_friend %}
                    <span class="friend-tag">Friend</span>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Not following anyone yet.</p>
    {% endfor %}
</div>

{% endblock %}
