{% extends 'author/author_base.html' %}

{% block content %}
<h1>{{ author.displayName }}'s Following ({{ following_count }})</h1>

<div class="following-list-container">
    <div class="following-list">
        {% for item in following %}
            <div class="following-box">
                <div class="following-info">
                    <span>{{ item.user.displayName }}</span>
                    {% if item.is_friend %}
                        <span class="friend-tag">Friend</span> <!-- Add the "Friend" tag -->
                    {% endif %}
                </div>

                <div class="unfollow-button">
                    <form action="{% url 'unfollow-author' item.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Unfollow</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>No users followed yet.</p>  <!-- Show this message if there are no users followed -->
        {% endfor %}
    </div>
</div>

{% endblock %}
