{% extends 'author/author_base.html' %}

{% block content %}
<h1>{{ author.displayName }}'s Followers ({{ followers_count }})</h1>

<div class="followers-list">
    {% for item in followers %}
        <div class="follower-box">
            <div class="follower-info">
                <span>{{ item.user.displayName }}</span>
                {% if item.is_friend %}
                    <span class="friend-tag">Friend</span> <!-- Add the "Friend" tag -->
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No followers yet.</p>  <!-- Show this message if there are no followers -->
    {% endfor %}
</div>

{% endblock %}
