{% extends 'author/author_base.html' %}

{% block content %}
<h1>{{ author.displayName }}'s Followers ({{ followers_count }})</h1>

<div class="followers-list">
    {% for item in followers %}
        <div class="follower-box">
            <div class="follower-info">
                <a href="{% url 'author_profile' item.follower.id %}">
                    {% if item.follower.profileImage %}
                        <img src="{{ item.follower.profileImage.url }}" alt="{{ item.follower.displayName }}'s profile" class="profile-image">
                    {% else %}
                        <img src="/static/images/default-profile.png" alt="Default profile" class="profile-image">
                    {% endif %}
                    <span>{{ item.follower.displayName }}</span>
                </a>
                {% if item.is_friend %}
                    <span class="friend-tag">Friend</span> <!-- Add the "Friend" tag -->
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No followers yet.</p>  <!-- Show this message if there are no followers -->
    {% endfor %}
</div>

{% endblock %}
