{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/createPost.css">
    <title>Create New Post</title>
</head>
<body>
    <div class="header">
        <img style="padding-left: 90px;" src="{% static 'avatar.png' %}">
        <div class="icons">
            <img src="/static/home.png">
            <img src="/static/add_post.png">
            <img src="/static/notifications.png">
            <img src="/static/edit.png">
            <img src="/static/inbox.png">
        </div>
    </div>

    <div class="container">
        <div class="form-title">Create New Post</div>
        <form>
            <div class="form-field-inline">
                <div class="form-field">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="form-field">
                    <label for="visibility">Visibility</label>
                    <select id="visibility" name="visibility">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="friends">Friends</option>
                    </select>
                </div>
            </div>

            <div class="form-field-inline">
                <div class="form-field">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" placeholder="Please input"></textarea>
                </div>

                <div class="form-field">
                    <label>Image Upload</label>
                    <div id="image-upload-container">
                        <span>No Image Uploaded</span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" onclick="uploadImage()">Upload Image</button>
                <button type="submit">Post</button>
            </div>
        </form>
    </div>

    <script>
        function uploadImage() {
            // Add logic for image upload here
        }
    </script>

</body>
</html>
