{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewPost.css' %}">
    <title>View Post</title>
</head>
<header>
    <div class="header">
        <img style="padding-left: 90px;" src="{% static 'avatar.png' %}">
        <div class="icons">
            <img src="/static/home.png">
            <img src="/static/add_post.png">
            <img src="/static/notifications.png">
            <img src="/static/edit.png">
            <img src="/static/inbox.png">
        </div>
    </div>
</header>

<body>
    <section class="gridContainer">
        <section class="gridItemUser">
            <div class="userInfo">
                <img class="profileImage" src="{% static 'avatar.png' %}">
                <div class="username_DatePosted">
                    <a class="username">Username</a> <!-- TODO: make the username clickable to go to userProfile-->
                    <h3 class="postDate">{{published}}</h3>
                </div>
                <button class="followButton">Follow</button>
            </div>
            <h1 class="postTitle">{{title}}</h1>
            <p class="postDescription">
                {{description}}
            </p>
            <section class="likeCommentShare">
                <img src="/static/heart.png">
                <h3>like</h3>
                <img src="/static/messageCircle.png">
                <h3>comment</h3>
                <img src="/static/share.png">
                <h3>share</h3>
            </section>
            <section class="viewLikesComments">
                <a class="viewLikes">view likes</a>
                <a class="viewComments">view comments</a>
            </section>
        </section>
    
        <section class="gridItemComments">
            <div class="carousel">
                <ol class="carousel-container">
                    <div class="comment">This is the first comment.</div>
                    <div class="comment">This is the second comment.</div>
                    <div class="comment">This is the third comment.</div>
                    <div class="comment">This is the fourth comment.</div>
                    <div class="comment">This is the fifth comment.</div>
                    <div class="comment">This is the sixth comment.</div>
                    <div class="comment">This is the seventh comment.</div>
                    <div class="comment">This is the seventh comment.</div>
                    <div class="comment">This is the seventh comment.</div>
                    <div class="comment">This is the seventh comment.</div>
                    <div class="comment">This is the seventh comment.</div>
                </ol>
            </div>
            <section class="commentInput">
                <input class="commentInputTextbox" type="text" id="newComment" placeholder="Add a comment ...">
                <input class="commentInputSubmit"type="submit" id="submitComment" value="add comment">
            </section>
        </section>
    </section>

</body>