*{
    font-family: Arial;
}

html, body {
    background-color: #f8eac7;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: #3e305e;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.header .icons {
    display: flex;
    gap: 50px;
    padding-right: 90px;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.gridContainer {
    display: grid;  /* enables the grid display */
    grid-template-rows: 1fr;          /* One row */
    grid-template-columns: 1fr 1fr;   /* Two columns of equal size */
    padding: 10px;
    height: calc(100vh - 60px);  /* 100% height minus the header */
    border-radius: 10px; 
    
}
/* User Section */
.gridItemUser{
    background-color: #f8eac7; /* #f8eac7 */
    padding: 20px;
    font-size: 30px;
    /*display: grid; /* enable flexbox */
    /*grid-template-rows: 4fr;    /* One row */
   /*grid-template-columns: 1fr;   /* one columns */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.gridItemUser .userInfo{
    background-color: #f8eac7;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
    
}
.userInfo .profileImage{
    height: 50px;
    width: 50px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
}
.userInfo .username{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
}
.userInfo .postDate{
    font-size: 20px;
    margin: 0;
    margin-left: 8px;
}
.userInfo .followButton{
    height: 40px;
    margin: 10px;
    margin-left: 20px;
    background-color: #f8eac7;
    border: #f8eac7;
    font-size: medium;
    color: #3e305e;
}

.gridItemUser .postMain{
    background-color: #f8eac7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 26px;
}

.gridItemUser .likeCommentShare{
    background-color: #f8eac7;
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 60px;
    
}
.likeCommentShare img{
    height: 40px;
    width: 40px;
    margin: 10px;
}
.likeCommentShare h3{
    font-size: 20px;
    margin-right: 20px;
    font-weight: 100;
    color: #9C9B9B;
}

.gridItemUser .viewLikesComments{
    background-color: #f8eac7;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.viewLikesComments .viewComments{
    color: #9C9B9B;
    font-weight: 100;
    font-size: 25px;
    margin: 10px;
}
.viewLikesComments .viewLikes{
    color:#4F378A;
    font-weight: 100;
    font-size: 25px;
    margin: 10px;
}
.viewLikesComments .viewLikes:hover{
    color:#8F72D9;
    font-weight: 100;
    font-size: 25px;
    text-decoration: underline;
    margin: 10px;
}

/* User Section */
.gridItemComments{
    background-color: #9C9B9B;
    border: 1px solid #000000cc;
    padding: 20px;
    font-size: 30px;
    display: flex; /* enable flexbox */
    flex-direction: column; /* stacks the items on top of one another */
    justify-content: center; /* centers the content horizontally */
    align-items: center; /* centers the content vertically */
    text-align: center;
    border-radius: 5px;
    margin: 40px;
}

